# Firebase/Admin + BigQuery (ADC)
# Set this to the service account JSON path
GOOGLE_APPLICATION_CREDENTIALS=./service-account.json

# BigQuery target
BIGQUERY_PROJECT_ID=fazil-11f23
BIGQUERY_DATASET=fazil_bd
BIGQUERY_USER_TABLE=dim_usuario

# Server
PORT=3000
